@{
    <title>@ViewData["Title"] - About US Page</title>
}
<head>

    <link rel="stylesheet" href="AboutUs.css"></>

</head>

<body>

    <div class="text-center">

<h1>About Us</h1>

<p>eBook Shelf is an application, where users can keep track of the
    number of books they read. eBook shelf is a tactic that helps bookworms around the world to keep track of all the books that they read and allows them to also keep some of those memories fresh in their minds.
    Book tracking is nothing new. People have done it ever since reading became a mainstream thing. They would jolt down the titles of the books they read and sometimes even a few key facts from each book or a few favorite quotes.
    The key difference between us and the “early” bookworms is that they would do it with pen and paper. Today, you don’t have to sacrifice an entire bookshelf just to keep your physical reading journals and notebooks.
    You can do everything digitally and far more easily.
</p>
<br/>

<h1>Our Mission</h1>
<p>
  To allow a easy and user friendly way to record books.
</p>

  </div>

 </body>

</html>