@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Welcome</h5>
    <br />
    <h1>eBOOK SHELF</h1>
    <img src="https://img.freepik.com/premium-vector/different-b…f-vector-illustration-cartoon-style_198696-39.jpg" />
    <br/>
    <p>Wanna keep track of all the books you read?<p/>
    <p> No problem! Learn more about eBook Shelf, where recording books are made simple. </p>
</div>
